<html>
  <head>
    <title>Ola's blog</title>
  </head>
  <body>
    <div>
    <h1>Brainstoming x Static Body</h1>
    <h2><a href="">Cientistas estão desenvolvendo um novo aplicativo que scaneia as imagens projetadas pelas sinapses</a></h2>
    </div>

    <div>
    <p>A idéia é fazer com antigas sinapses possam ser enfraquecidas ou até substituídas por novas imagens, <br />
      de acordo com o desfecho que a situação possa ter. <br />
      A técnica consiste em captar a imagem que o cérebro esta emitindo, identificar os elementos e procura-los em banco de dados.<br />
      Se for um local, o mapa satelite podera leva-lo ate o local e mostra-lo imagens em tempo real. Se forem pessoas, essas poderão<br />
      receber um sinal perguntando se ela quer se conectar ao requisitante. O requisitante também poderá receber a imagem plasmada pelo<br />
      cérebro da pessoa ao lembrar-se dela. Se esta estiver ao alcance do satelite, ela podera ser vista em tempo real.</p>
    <p>published: 12.08.2015, 21:16</p>
    </div>

    <div>
      <h2><a href="">My second post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor .</p>
      <p>published: 12.08.2015, 21:25</p>
    </div>

  </body>
</html>
